.cart-widget{
    background-color: #dc3545;
    padding: 2px;
    border-radius: 0.8em;
}

.text-car{
    color: #fff;
    font-size: 1em;
    margin-right: 12px;
    padding-top: 0px;
    margin-left: -8px;
    display: inline-flex;
}

.text-icon{
    color: #fff;
    font-size: 1em;
    margin-right: 12px;
    margin-left: 10px;
    display: inline-flex;
}

