.pl{
    width: 80%;
    margin: auto;
}

.textos{
    margin-bottom: 0px !important;
}


.size-btn{
    font-size: 30px !important;
}

.btn-add{
    padding-top: 20px;
    color: #fff !important;
}

.btn-add-c{
    width: 100% !important;
    font-size: 20px !important;
    background-color: #dc3545 !important ;
    color: #fff !important ;
}
.btn-adde{
    background-color: #dc3545 !important ;
    color: #fff !important ;
    width: 50px;
    height: 50px;
    border-radius: 100% !important;
    font-size: 1em !important;
    border: none;
}

.container-car{
    margin-top: 20px;
    display: flex;
}

.btn-remove{
    background-color: #dc3545 !important;
    color: #fff !important;
    width: 50px;
    height: 50px;
    border-radius: 100% !important;
    font-size: 1em !important;
    font-weight: bolder !important;
    border: none;
}
.minus{
    width: 20%;
    text-align: center;
}

.plus{
    width: 20%;
    text-align: center;
}

.number{
    width: 80%;
    text-align: center;
    font-size: 35px;
}

@media (max-width: 560px) {
    .btn-remove , .btn-adde{
        height: 30px;
        width: 30px;
        font-size: 15px !important;
    } 

    .number{
        width: 80%;
        font-size: 22px;
    }
}