.btn-mode{
    border: none;
    background-color: transparent;
    margin-left: 30px;
}

.nav-main{
    position: fixed;
    width: 100%;
    z-index: 100000;
    background-color: #fff;
}
.navbar{
    height: 100px;
    padding-left: 150px !important;
    padding-right: 150px !important;
    border-bottom: 1px solid #eee;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.blue-shop{
    color: #dc3545;
    font-size: 25px;
    font-weight: bolder;
    display: inline-block;
}

.searched{
    width: 600px !important;
    height: 65px;
    border-radius: 3em !important;
    padding-left: 33px !important;
}

.menu-sub{
    width: 100%;
    height: 120px;
    text-align: center;
    background-color: #fff;
}
.categories{
    display: flex;
    width: 60%;
    margin: auto;
}

.category{
    flex:auto;
    height: 120px;
    width: 25%;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.category-elems{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin:4px
}

.category-elems:hover{
    border-bottom: 4px solid #ccc;
    font-weight: bolder;
}

.vinculo{
    text-decoration: none;
    text-align: center;
}

.enlace{
    text-decoration: none;
}

@media (max-width: 760px) {
    .categories{
        display: flex;
        width: 80%;
        margin: auto;
    }

    .navbar-brand{
        position: absolute;
        left: 20px !important;
    }    

    .enlace{
        position: absolute;
        right: 30px;
    }
}

@media (max-width: 560px) {
    .categories{
        display: flex;
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 470px) {
    .categories{
        display: flex;
        width: 100%;
        margin: auto;
    }

    .vinculo{
        font-size: 10px;
    } 
}

@media (max-width: 700px) {
    button.btn-mode {
        right: 90px;
        top: 34px;
        position: absolute;
    }
}